/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
margin:0 auto;
    border:3px solid black;
height:500px;
    width:1200px;
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;

}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}
*{
    margin:0;
    padding:0;
}
body{
    background-color: rgba(0,0,0,0.85);
}
.header{
    display: block;
    width:150px;
    margin:0 auto;
}
.Programming{
    display:inline-block;
    margin-left: 200px;
    width:200px;
}
.Description{
    display:block;
    width:1200px;
    margin:0 auto;

}
.text{
       color:#B9B7B7;

}
.prev,
.next{
 
    background-repeat: no-repeat;
    position:absolute;
    width:28px;
    height:38px;
    top:300px;
    border-radius: 10%;
    cursor:pointer;
}
.prev{
    left:30px;
}
.next{
transform: rotate(180deg);
right:30px;                 /*error #1*/
}

.select{
    display:block;
    margin:20px auto;
}

/*MENU*/
.sub_menu{
    margin: 0px auto 40px auto;
    width:1206px;
    height:30px;
    background-color: rgba(255 , 0 , 0 , 0.5);

}
.sub_menu a {
  color:#fff;
  font-size:14px;  
  text-decoration: none;
}
.sub_menu>li{
    position: relative;
margin:0 40px;
display: inline-block;
padding:7px 5px;
/*background-color:black;*/
cursor: pointer;

}
.sub_menu li li::after,.sub_menu>li::after{
    background:url("../img/low_arrow.gif");
content:'';
display:block;
position:absolute;
width:15px;
}
.sub_menu>li::after{
height:5px;
background-position: 0px -5px;
bottom:4px;
left:10px;
}
.sub_menu li li::after{

height:7px;
background-position: 0px -3px;
transform: rotate(-90deg);
bottom:10px;
left:130px;
}
.sub_menu4>li,.sub_menu44>li,.sub_menu444>li{
    position: relative;
padding:5px 20px;
border-bottom: 1px solid #a00;
border-left: 3px solid #a00;
    z-index: 2;

}

.sub_menu4,.sub_menu44,.sub_menu444{
list-style:none;
 display: none; 
background-color: rgb(100 , 0 , 0);
position: absolute;     
width: 150px;
height:145px;
/*border-top: 3px solid #a00;*/
}

.sub_menu4{
left: -23px;
top: 30px;
    }
.sub_menu44{
left: 147px;
top:    10px;
    }
.sub_menu444{
left: 147px;
top: 0px;
}
/*CHECK BOX*/

.checkboxContainer0{
    display:inline-block;
    margin-left:200px;
    width:100px;
}
#test-check3{

}
.css_CB,#test-check4,#test-check5,#test-check6 {

    
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.lcss_CB {
    cursor: pointer;
}
.lcss_CB:after {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/cb.png);
    position: relative;
    top: 3px;
    margin-left: 15px;
}
.css_CB:checked + label:after {
background-position: 0 -17px;
}
.lcss_CB:hover:after {
background-position: 0 -34px;
}
.css_CB:checked + label:hover:after {
background-position: 0 -51px;
}

/*checkbox*/
.niceCheck{

     content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/cb.png);
    position: relative;
    top: 3px;
    margin-left: 15px;
}